@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
@layer components {
  .bg-gray {
    background-color: #D6D7DA;
  }
  .bg-content {
    background-color: rgb(236, 236, 238);
  }
  .hr-line {
    width: 100%;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid rgb(222, 222, 241);
  }
  .weeks-day-card {
    @apply flex flex-col bg-white rounded-2xl py-2 items-center gap-4
  }
  .highlights-card {
    @apply p-6 bg-white min-w-[220px] rounded-2xl  flex flex-col justify-between
  }

  input::placeholder, textarea::placeholder {
    color: black;
  }
  input:focus {
     border: 1px solid black; /* Рамка при получении фокуса */
   }

}