@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
@layer components {
  .bg-gray {
    background-color: #D6D7DA;
  }
  .bg-content {
    background-color: rgb(236, 236, 238);
  }
  .hr-line {
    width: 100%;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid rgb(222, 222, 241);
  }


  input::placeholder, textarea::placeholder {
    color: black;
  }

}